<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Progreso</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Tabs -->
    <ion-segment value="progreso" class="tabs">
      <ion-segment-button value="home">
        <ion-label>Home</ion-label>
      </ion-segment-button>
      <ion-segment-button value="habitos">
        <ion-label>Hábitos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="progreso">
        <ion-label>Progreso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="recordatorios">
        <ion-label>Recordatorios</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <!-- Lista de elementos estáticos -->
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Beber 8 vasos de agua al día</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Leer 20 minutos al día</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Comer 5 porciones de frutas</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Dormir 8 horas diarias</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Realizar actividad física</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Limitar el tiempo frente a pantallas</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Realizar pausas activas</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Estiramiento al despertarte</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-tab-bar>
      <ion-tab-button tab="label1">
        <ion-icon name="ellipse-outline"></ion-icon>
        <ion-label>Label</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="label2">
        <ion-icon name="ellipse-outline"></ion-icon>
        <ion-label>Label</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="label3">
        <ion-icon name="ellipse-outline"></ion-icon>
        <ion-label>Label</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
  