<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedTab" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="home">
      <ion-label>Home</ion-label>
    </ion-segment-button>
    <ion-segment-button value="habits">
      <ion-label>Hábitos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="progress">
      <ion-label>Progreso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="statistics">
      <ion-label>Estadísticas</ion-label>
    </ion-segment-button>
  </ion-segment>  

  <div class="habit-grid">
    <ion-card *ngFor="let habit of habits" class="habit-card">
      <img [src]="habit.image" [alt]="habit.name"/>
      <ion-card-header>
        <ion-card-title>{{ habit.name }}</ion-card-title>
        <ion-card-subtitle>{{ habit.meta }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-progress-bar [value]="habit.progress/100"></ion-progress-bar>
        <div class="progress-text">
          Progreso: {{ habit.progress }}%
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goToAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>